//colors
$background-color: #fcfbfb;
$primary-txt-color: #0a0a0a;
$secondary-txt-color: #fcfbfb;
$primary-color: #FFA731;
//$secondary-color: #7790a7;
$secondary-color: #a1a1a1;
$border-color-input: #fcfbfb;
$background-color-input: #5f7488;
$link-focus-color: #5f7488;
$btn-hover-color: #ff9811;



//fonts
$title-font-family: 'Annie Use Your Telescope', cursive;
$primary-font-family: 'Montserrat', sans-serif;


//$secondary-font-family: 'Oxygen', sans-serif;

// font-family: 'Aleo', serif;
// font-family: 'Annie Use Your Telescope', cursive;
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Montserrat', sans-serif;