.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  gap: 10px;
  font-family: "Raleway", sans-serif;
  color: #0c040f;
}
.about_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
}
.about_heading {
  font-family: "Ms Madi", cursive;
  color: #501c65;
  text-align: center;
  margin: 5px;
  padding: 5px;
  font-size: 45px;
}
.about_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[7];
  grid-template-rows: repeat(7, 1fr);
  padding: 1rem;
  text-align: justify;
  width: 15rem;
  margin: auto;
  line-height: 25px;
  list-style: none;
}
.about_list > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.about_list > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.about_list > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.about_list > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.about_list > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.about_list > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.about_list > *:nth-child(7) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
.about_list > *:nth-child(8) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
.about_list > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.about_list > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}
.about_list > *:nth-child(11) {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}
.about_list > *:nth-child(12) {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
}
.about_list > *:nth-child(13) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
.about_list > *:nth-child(14) {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
}
.about_list li:nth-child(odd) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  font-style: italic;
}
.about_info {
  width: 70%;
  margin: auto;
  padding: 10px;
  text-align: justify;
  line-height: 25px;
}
.about_map {
  display: block;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
}